/* 123.css */

/* 스크롤 바 */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* 스크롤바 트랙 */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* 스크롤바 색상 */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* 활성화된 스크롤바 색상 */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    width: 300px;
    margin-bottom: 20px;
  }
  
  .card-img-top {
    border-radius: 15px;
  }
  
  .card-body {
    background-color: #222;
    border-radius: 0 0 15px 15px;
    padding: 20px;
  }
  
  .card-title {
    color: #fff;
  }
  
  .card-text {
    color: #ccc;
  }
  
  
  